.App {
  text-align: center;
}

.background {
  background-image: url(../public/unsplash-bg-flowers.jpg);
  position:absolute;
  background-size: cover;
  height: 75vh;
  width:100%;
  background-repeat:no-repeat;
  background-position: right center;
  z-index: -1;

}

.gallery{
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
  min-height: 200px;
  min-width: 200px;
}